/* Style.css */
* {
  box-sizing: border-box;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: #efeff2;
}

.container {
    margin: 0px auto;
    width: 100%;
}

header {
  background: url(../images/PIA07906-1920x1200.jpg) no-repeat center top rgb(134,141,157);
  background-size: cover;
}

header h1 {
  font-size: 40px;
  font-weight: 400;
  padding: 40px 0px 20px 20px;
}

header li {
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  float: left;
  display: inline-block;
}

.container-menu {
  background-color: #a69eb0;
}

a {
  text-decoration:none;
}

header a:link {
  color: white;
}

header a:visited {
  color: white;
}

header a:hover {
  color: black;
}

a:link {
  color: #efeff2;
}

a:visited {
  color: #efeff2;
}

a:hover {
  color: #f2e2cd;
}

main {
  width: 75%;
  float: left;
  padding: 30px;
}

input {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #fff;
  border: 1px solid #111;
  padding: 0px 20px;
  width: 100%;
  line-height: 50px;
}

form {
  width: 100%;
  padding: 50px 100px 0px 100px;
}

main p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

main h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

main li {
    font-size: 20px;
    line-height: 30px;
}

main ul {
  padding-left: 30px;
  list-style-type: disc;
  list-style-position: inside;
}

aside {
  padding: 20px 0 0 0;
  float: left;
  width: 25%;
}

aside img {
  width: 100%;
  height: relative;
  padding: 20px 40px 20px 20px;
}

aside h2 {
  font-size: 30px;
  padding: 20px 40px 20px 20px;
}

aside p {
  font-size: 12px;
  font-style: italic;
  padding: 0 40px 0 20px;
}

.imageBox {
  padding: 0px 0px 0px 0px;
}

img {
  margin-top: 60px;
}

footer {
  clear: both;
  text-align: center;
  padding: 10px;
}

#posts {
  width: 700;
  display: inline-block;
  margin-right: 20px;
}

.post {
  border-bottom: 1px solid #f2e2cd;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.readmore, .readless {
  text-align: right;
  margin-top: 30px;
}
.readmore a, .readless a {
  color: #f2e2cd;
  font-weight: 600;
}

.hide {
  display: none;
}

@media (max-width: 900px) {

aside {
  float: none;
  width: 100%;
  padding-bottom: 10px;
}

aside h2 {
  font-size: 30px;
  padding: 20px 40px 20px 20px;
  text-align: center;
}

.hubbleBox {
  visibility: hidden;
}

main {
  width: 100%;
  float: none;
  padding: 20px;
}

input {
  float: left;
  padding-right: 100px;
}

}

@media (max-width: 480px) {

header li {
  float: none;
  display: block;
  border: black solid 1px;
}

header h1 {
  text-align: center;
  padding: 0px 0px 20px 20px;
}

.hubbleBox {
  visibility: hidden;
}

input {
  margin: 0 0 0 0;
  float: left;
}

.aside {
  width: 100%;
  height: relative
  padding: 20px 40px 20px 20px;
}

}
