* {
    box-sizing: border-box;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0F0F1C;
    color: #efeff2;
}

.container {
    margin: 0px auto;
    width: 100%;
}

header {
    background: url(../images/PIA07906-1920x1200.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
}

header h1 {
    font-size: 40px;
    font-weight: 400;
    padding: 40px 0px 20px 20px;
}

header li {
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    float: left;
    display: inline-block;
}

.container-menu {
    background-color: #59967B;
}

a {
    text-decoration:none;
}

header a:link {
    color: #0F0F1C;
}

header a:visited {
    color: #0F0F1C;
}

header a:hover {
    color: #efeff2;
}

a:link {
    color: #8A9170;
}

a:visited {
    color: #8A9170;
}

a:hover {
    color: #efeff2;
}

main {
    width: 100%;
    float: left;
    padding: 30px;
}

main h2 {
    color: #8A9170;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background: #efeff2;
    border: 1px solid #0F0F1C;
    padding: 0px 20px;
    width: 100%;
    line-height: 50px;
}

form {
    width: 310px;
    padding: 20px 0px 0px 100px;
}

main p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

.container .mainPage {
    padding-top: 50px;
}

#humidity {
    font-size: 20px;
    line-height: 30px;
    padding-left: 100px;
}

#conditionsList {
    display: none;
    float: right;
}

#viewingConditions {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

#currentHumidity {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

#moonCover {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}

#conditionsList ul {
    padding-left: 100px;
    list-style-type: disc;
    list-style-position: inside;
}

main h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

main li {
    font-size: 20px;
    line-height: 30px;
}

main ul {
    padding-left: 30px;
    list-style-type: disc;
    list-style-position: inside;
}

.mainPage p {
    padding-left: 30px;
}

#posts {
    width: 95%;
    display: inline-block;
    margin-right: 20px;
}

.post {
    border-bottom: 1px solid #f2e2cd;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.readmore, .readless {
    text-align: right;
    margin-top: 30px;
}
.readmore a, .readless a {
    font-weight: 600;
}

.hide {
    display: none;
}

footer {
    width: 100%;
    clear: both;
    text-align: center;
    padding: 10px;
}

@media (max-width: 510px) {

header li {
    float: none;
    display: block;
    border: black solid 1px;
    text-align: center;
}

header h1 {
    text-align: center;
    padding: 10px 10px;
}

main h2 {
    text-align: center;
}

#conditionsList ul {
    margin: 0 auto;
    padding-top: 50px;
    font-size: 10px;
    line-height: 15px;
}

form {
    margin: 0 auto;
    padding: 0;
}

body {
    padding: 0;
}

}
